<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FCC - URL Shortener</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main">
            <h2>FCC - API Projects - URL Shortener</h2>
            <h3>User Stories:</h3>
            <ul>
                <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
                <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
                <li>When I visit that shortened URL, it will redirect me to my original link.</li>
            </ul>
            <h3>Example Usage:</h3>
            <ul>
                <li><a href="<%=url %>/https://www.google.com"><%=url %>/https://www.google.com</a> will return a JSON with the original url and the shortened url. Use the shortened url to be redirected to the original url.</li>
            </ul>
            <footer>by <a href="https://github.com/rlisboars/" target="_blank">rlisboars</a></footer>
        </div>
        
    </body>
</html>